<heaD>
    <link href="{{ site.baseurl}}/css/lightbox.css" rel="stylesheet">
    <!-- JS-lightbox -->
    <script src="{{ site.baseurl}}/js/jquery.js"></script>
</head>
<body>
  <section>
    <div>
      <a class="example-image-link" href="{{ site.baseurl }}/images/image_fun.png" data-lightbox="JS CSS" data-title="JS & CSS FUN!"> <img class="projects" src="{{site.baseurl}}{{site.project1-image}}" alt="image-1"/></a>
        <h2><a href="http://terrib1e.github.io/projects/Image_Fun.html">JS & CSS FUN!</a></h2>
    </div>
    <hr />
<!--    <h3>A Four Image Set</h3>
    <div>
    </div-->
  </section>
 
  <section>
    <div>
      <a class="example-image-link" href="{{ site.baseurl }}/images/flex_time.png" data-lightbox="Flex" data-title="Flex Time"> <img class="projects" src="{{site.baseurl}}{{site.project2-image}}" alt="image-2"/></a>
        <h2><a href="http://terrib1e.github.io/projects/flex_time.html">Flex Time</a></h2>
    </div>
    <hr />
<!--    <h3>A Four Image Set</h3>
    <div>
    </div-->
  </section>
 
  <script src="{{ site.baseurl }}/js/lightbox-plus-jquery.min.js"></script>

</body>
